@import './variables.module.scss';

/* this is an abbreviated version of @font-face, meant to show how to reference the font in the relative url attribute.
/* assuming the fonts were stored in public/fonts */

@font-face {
  font-family: 'Lobster Two';
  src: local('Lobster Two'),
    url(/fonts/Lobster_Two/LobsterTwo-Italic.ttf) format('truetype');
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Lobster Two';
}

.CenteredContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.CenteredTextAlign {
  text-align: center;
}

.CenteredVerticalAlign {
  align-items: center;
}

.Title {
  color: $primary-color;
  font-size: 4em;
  margin: 0 22px;
}

.Login__box {
  position: relative;
  margin: 180px auto;
  width: 260px;
  height: 140px;
}

