@import '../variables.module.scss';

.InputContainer {
  position: absolute;
  z-index: 2;
  bottom: -50px;
}

.container__input {
  border: solid #000 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 50px;
  background-color: $primary-color;
}

.input__area {
  width: 213px;
  height: 26px;
  border: none;
  border-radius: 5px;
  background-color: $secondary-color;
}
