@import '../variables.module.scss';

.ProfileContainer {
  height: 190px;
  width: 190px;
  z-index: 1;
  margin: auto;
}

.external__circle {
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 190px;
  width: 190px;
  background-color: $primary-color;
}

.inner__circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: $secondary-color;
}

.inner__circle img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
